.byebug_history
*.rdb
/.bundle
/log/*
!/log/.keep
/tmp
config/database.yml
solr/test/data
solr/development/data
solr/default/data
solr/pids
.gemtags
.tags
.tags_sorted_by_file
db/schema.rb
public/uploads
.DS_Store
.idea
./*.pdf
coverage
dump.rdb
stdout
public/assets
public/test_assets

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
.vscode
report.html
solr/configsets/sunspot/data/index/*
solr/configsets/sunspot/data/tlog/*
target/cucumber_statistics/*
